<div>
  <link href="./admin-form.css" rel="stylesheet" />
  <div class="admin-form-container">
    <form class="admin-form-recipe-form">
      <span class="admin-form-text"><span>Add Recipe</span></span>
      <div class="admin-form-container1">
        <div class="admin-form-container2">
          <input
            type="text"
            id="recipename"
            name="recipename"
            placeholder="Recipe Name"
            class="admin-form-textinput input"
          />
          <select
            id="recipecategory"
            name="recipecategory"
            class="admin-form-select"
          >
            <option value="Burgers" selected>Burgers</option>
            <option value="Shawarma">Shawarma</option>
            <option value="Pizza">Pizza</option>
            <option value="Lankan">Lankan</option>
            <option value="Desserts">Desserts</option>
          </select>
          <input
            type="number"
            id="recipeprice"
            name="recipeprice"
            placeholder="Recipe Price"
            class="admin-form-textinput1 input"
          />
          <input
            type="text"
            id="recipetut"
            name="recipetut"
            placeholder="Recipe Tutorial"
            class="admin-form-textinput2 input"
          />
          <span class="admin-form-text1">
            <span>Choose Recipe Image Here</span>
          </span>
          <input
            type="file"
            id="recipeimage"
            name="recipeimage"
            placeholder="Recipe Image"
            class="admin-form-textinput3 input"
          />
        </div>
      </div>
    </form>
    <form class="admin-form-users-form">
      <span class="admin-form-text2"><span>Add User</span></span>
      <div class="admin-form-container3">
        <div class="admin-form-container4">
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Name"
            class="admin-form-textinput4 input"
          />
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            class="admin-form-textinput5 input"
          />
          <input
            type="text"
            id="address"
            name="address"
            placeholder="Address"
            class="admin-form-textinput6 input"
          />
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            class="admin-form-textinput7 input"
          />
          <input
            type="number"
            id="phonenumber"
            name="phonenumber"
            placeholder="Phone Number"
            class="admin-form-textinput8 input"
          />
        </div>
      </div>
    </form>
  </div>
</div>
