<div>
  <link href="./admin-show-card.css" rel="stylesheet" />
  <div class="admin-show-card-container">
    <div class="admin-show-card-container1">
      <span><span>idlabel</span></span>
    </div>
    <div class="admin-show-card-container2">
      <span><span>namelabel</span></span>
    </div>
    <div class="admin-show-card-container3">
      <span><span>extralabel</span></span>
      <select
        id="orderstatus"
        name="orderstatus"
        class="admin-show-card-select"
      >
        <option value="Active" selected>Active</option>
        <option value="Finished">Finished</option>
      </select>
    </div>
    <div class="admin-show-card-container4">
      <button class="admin-show-card-button button"><span>Remove</span></button>
    </div>
  </div>
</div>
