.component-container {
  flex: 0 0 auto;
  width: 850px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 69px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
