.navigation-links-nav {
  flex: 0 0 auto;
  width: 232px;
  height: 31px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  text-decoration: none;
}
.navigation-links-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-icon {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-threeunits);
}














@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.productcontainer-productcontainer {
  flex: 0 0 auto;
  width: 340px;
  height: 448px;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-pallet-green);
}
.productcontainer-image {
  width: 252px;
  height: 206px;
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.productcontainer-text {
  font-size: 35px;
  align-self: center;
  font-style: italic;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: 5px;
}
.productcontainer-text1 {
  font-size: 20px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Merriweather;
  font-weight: 700;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: 2.5px;
}
.productcontainer-text2 {
  font-size: 20px;
  font-style: normal;
  font-family: Merriweather;
  font-weight: 700;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: 2.5px;
}
.productcontainer-navlink {
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}

.productdashbaord-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.productdashbaord-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-pallet-green);
}
.productdashbaord-logo-center {
  text-align: center;
}
.productdashbaord-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.productdashbaord-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.productdashbaord-register {
  text-decoration: none;
}
.productdashbaord-container01 {
  width: 100%;
  height: 765px;
  display: flex;
  align-items: flex-start;
}
.productdashbaord-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: 770px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.productdashbaord-container03 {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(189, 195, 199) 0.00%,rgb(206, 234, 187) 85.00%);
}
.productdashbaord-icon {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-sixunits);
}
.productdashbaord-container04 {
  flex: 0 0 auto;
  width: 194px;
  height: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.productdashbaord-textinput {
  align-self: flex-end;
  background-color: var(--dl-color-gray-900);
}
.productdashbaord-container05 {
  flex: 0 0 auto;
  width: 280px;
  height: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.productdashbaord-container06 {
  flex: 0 0 auto;
  width: 280px;
  height: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.productdashbaord-text {
  align-self: center;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-unit);
}
.productdashbaord-select {
  width: 50%;
  height: 31px;
  align-self: center;
  margin-left: 6px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
}
.productdashbaord-container07 {
  width: 100%;
  height: 913px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.productdashbaord-footer {
  width: 1205px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
}
.productdashbaord-container08 {
  width: 417px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.productdashbaord-text01 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.productdashbaord-text04 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.productdashbaord-text05 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-twounits);
}
.productdashbaord-text06 {
  color: var(--dl-color-gray-black50);
  margin-top: 12px;
}
.productdashbaord-links-container {
  display: flex;
  grid-gap: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.productdashbaord-container09 {
  width: 219px;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.productdashbaord-text07 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.productdashbaord-text08 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.productdashbaord-text09 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.productdashbaord-text10 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.productdashbaord-container10 {
  width: 247px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.productdashbaord-text11 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.productdashbaord-text12 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.productdashbaord-text13 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .productdashbaord-footer {
    flex-direction: column-reverse;
  }
  .productdashbaord-links-container {
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .productdashbaord-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .productdashbaord-btn-group {
    display: none;
  }
  .productdashbaord-footer {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .productdashbaord-links-container {
    margin-top: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .productdashbaord-header {
    padding: var(--dl-space-space-unit);
  }
  .productdashbaord-footer {
    padding: var(--dl-space-space-unit);
  }
  .productdashbaord-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .productdashbaord-container09 {
    margin-right: var(--dl-space-space-unit);
  }
}
